.splash-img {
	background-image: url("../assets/congruent_outline.png");
	background-repeat: repeat;
}

header {
	color: #fff;
}

.index-header {
	font: 100 7rem 'Helvetica Neue', Arial, sans-serif;
	padding-bottom: 20px;
	letter-spacing: 0.9rem;
}

.swyte-icon {

}

.index-sub-header {
	font: 100 2rem 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: 0.12rem;
}

.index-sub-info-header {
	font: 200 3rem 'Helvetica Neue', Arial, sans-serif;	
	letter-spacing: 0.12rem;
	margin: 0 0 60px 0;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.index-sub-info {
	font: 200 2rem 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: 0.05rem;	
	line-height: 3.2rem;
	padding: 0 20px 0 20px;
}

.index-sub-info > a {
	font: 200 2rem 'Helvetica Neue', Arial, sans-serif;	
	letter-spacing: 0.12rem;
}

.index-panel-one > .row {
	margin: 90px  0 70px 0;
}

.index-panel-two > .row {
	margin: 90px 20px 60px 20px;
}

.testimonials-header {
	font: 200 3rem 'Helvetica Neue', Arial, sans-serif;	
	letter-spacing: 0.12rem;
	margin: 0 0 50px 0;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.testimonials {
	font: 200 1.5rem 'Helvetica Neue', Arial, sans-serif;	
	letter-spacing: 0.1rem;
	line-height: 2.3rem;
	padding: 0 30px 40px 30px;
}


