.splash-img {
	background-image: url("../assets/congruent_outline.png");
	background-repeat: repeat;
}

header {
	color: #fff;
}

.index-header {
	font: 100 7rem 'Helvetica Neue', Arial, sans-serif;
	padding-bottom: 20px;
	letter-spacing: 0.9rem;
}

.swyte-icon {

}

.index-sub-header {
	font: 100 2rem 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: 0.12rem;
}

.index-sub-info {
	font: 200 2.5rem 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: 0.05rem;	
	line-height: 3.2rem;
}

.index-sub-info > a {
	font: 200 2.5rem 'Helvetica Neue', Arial, sans-serif;	
	letter-spacing: 0.12rem;
}

.index-panel-one > .row {
	margin: 90px  0 70px 0;
}

.index-panel-two > .row {
	margin: 80px 20px 60px 20px;
}

.testimonials-header {
	font: 200 3rem 'Helvetica Neue', Arial, sans-serif;	
	letter-spacing: 0.12rem;
	margin: 0 0 40px 0;
}

.testimonials {
	font: 200 1.5rem 'Helvetica Neue', Arial, sans-serif;	
	letter-spacing: 0.08rem;
	padding: 0 30px 0 30px;
}


