doctype html
html(lang='en')
  head
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js')
    script(src='/js/app.js')
    link(href='css/index.css' rel='stylesheet' type='text/css')
    link(href='css/layout.css' rel='stylesheet' type='text/css')
  body(ng-app='app')
    div(ui-view)