extends ./layout.jade

block content
	header.splash-img
		span.swyte-icon
			<!-- img(src='/assets/Swyte_Logo.png' alt='Swyte' heigt='300' width='300') -->
		div.container.index-panel-one
			div.row
				div.index-header.center-text Swyte
				div.index-sub-header.center-text SMS Webpage Generator
	div.container.index-panel-two
		div.row
			div.center-text.index-sub-info-header Getting Started
			div.index-sub-info.center-text To begin generating your website text 
				a(href='tel:14253054177') 425-305-4829 
				| and follow the instructions. </br> We use Facebook to initially create and populate your personal webpage.
		div.row
			div.testimonials-header.center-text User Testimonials
			div.col-sm-4.testimonials
				| "Dope and cool." </br></br>- Kaveh
			div.col-sm-4.testimonials
				| "Swyte always makes it a good day." </br></br>- Ice-Cube
			div.col-sm-4.testimonials
				| "Swyte is so goddamn cool man, and I was talking to another man the other day. I asked him if he knew what Swyte is, I showed it to him and it literally blew is head up. I had to call an ambulance." </br></br>- Jacob

