extends ./layout.jade

block content
	header.splash-img
		span.swyte-icon
			<!-- img(src='/assets/Swyte_Logo.png' alt='Swyte' heigt='300' width='300') -->
		div.container.index-panel-one
			div.row
				div.index-header.center-text Swyte
				div.index-sub-header.center-text SMS Webpage Generator
	div.container.index-panel-two
		div.row
			div.center-text.index-sub-info-header Getting Started
			div.index-sub-info.center-text Thank you for choosing our service. To create a personal webpage within seconds, please simply text anything to 
				a(href='tel:14253054177') (425) 305-4829
				| , and follow the text prompts thereafter. 
		div.row
			div.testimonials-header.center-text Features
			div.col-sm-4.testimonials
				| Automatically draws information from your Facebook page to initially populate your new site.
			div.col-sm-4.testimonials
				| Offers two basic template options for users: photographer and blogger.
			div.col-sm-4.testimonials
				| Simple, formulaic URL that is simultaneously fully customize-able with a backslash and your uniquely desired name.

