extends ./layout.jade

block content
	h1.center-text.col-sm-10.col-sm-offset-1 QuickSite
	h4.center-text Quick. Simple. Free.
	div.page-container-one.col-log-12
		h3.center-text Text 
			a(href='tel:14253054177') 425-305-4829 
			| to create your personal website!
