extends ./layout.jade

block content
	h1.page-header QuickSite
	h4 Quick. Simple. Free.
	div.page-container-one 
		h3 Text 
			a(href='tel:14253054177') 425-305-4829 
			| to create your personal website!