extends ./layout.jade

block content
	header.splash-img
		div.container.index-panel-one
			div.row
				div.index-header.center-text Swyte
				div.index-sub-header.center-text Damn, simple sms webpage generator
	div.container.index-panel-two
		div.row
			div.index-sub-info.center-text Text 
				a(href='tel:14253054177') 425-305-4829 
				| to create your personal website!
