doctype html
html(lange='en')
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href='/lib/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		link(href='/css/index.css' rel='stylesheet' type='text/css')
		link(href='/css/layout.css' rel='stylesheet' type='text/css')
		link(href='/css/profile.css' rel='stylesheet' type='text/css')
        block title
            title SmStoWebsiteMagic
	body
		block content
	block links

