extends ./layout.jade

block content
	div.container
		div.row
			div.col-md-6
				div.col-md-offset-1.col-md-5
					<!-- Profile image goes here -->
				div.col-md-6
					<!-- Social Links go here -->
			div.col-md-6
				h1.center-text Joe Doe
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

		block profile-addon

		div.row

		


