extends ./layout.jade

block content
	div.container
		div.row
			div.col-md-6
				div.col-md-offset-1.col-md-5
					<!-- Profile image goes here -->
				div.col-md-6
					<!-- Social Links go here -->
			div.col-md-6
				h1 #{name}
				p #{bio}

		block profile-addon

		div.row

		


