extends ./layout.jade

block content
	header
		div.container-fluid.profile-nav-bar 
			span 
				a(href='/').navbar-logo Swyte
	div.container
		div.row.profile-panel-one
			div.col-md-6
				div.col-md-offset-1.col-md-5
					img(src='http://graph.facebook.com/#{profile.id}/picture?type=large' alt='Profile Picture').profile-picture
					ul.profile-social-links
						li 
							a(href='#{profile.link}') Facebook
				div.col-md-6
					<!-- Social Links go here -->
			div.col-lg-3
				div.profile-name #{profile.name}
			div.col-lg-3
				</br>
				div.profile-email #{profile.email}
		block profile-addon
